[submodule "tmux/.config/tmux/tokyo-night-tmux"]
	path = tmux/.config/tmux/tokyo-night-tmux
	url = git@github.com:janoamaral/tokyo-night-tmux.git
[submodule "tmux/.config/tmux/plugins/tmux-resurrect"]
	path = tmux/.config/tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
